<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title size="medium" color="light" >
     ComidAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="secondary" class="ion-text-center">
    <h1>Registrar Usuario</h1>
  </ion-text>
  <form #fregistro="ngForm" (ngSubmit)="registrar()">
    <ion-item>
      <ion-input labelPlacement="floating" label="Usuario" required name="usuario" type="text" [(ngModel)]="user.username" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="Contraseña" required name="password" type="text" [(ngModel)]="user.password" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="Nombre" required name="text" type="text" [(ngModel)]="user.nombre" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="Apellido" required name="text" type="text" [(ngModel)]="user.apellido" ></ion-input>
    </ion-item>
    <ion-button expand="full" color="tertiary" type="submit" [disabled]="fregistro.invalid" >
      <ion-text color="light">
        Crear Usuario
      </ion-text>
      
    </ion-button>
  </form>



</ion-content>
